    table{
        width:100%;
    }
    td, th{
        border:1px solid black;
        text-align:left;
    }

    .task{
        width:100%;
        height: 100%;
        background-image: url('/static/img2.jpg');
        background-size: cover;
        background-position: center;
        color:black;

    }
    .task h2{
        color:black;
        text-align:center;
        margin-top:20px;
        margin-bottom:20px;
    }

    .regi_task{
        margin-top: 50px;
    }

    .regi_task button{
        color:black;
        background-color:#48d66e;
        padding: 6px 30px;
        margin-top:30px ;
        border-radius:10px;
        cursor:pointer;
    }

    .task_head{
        margin-top:15px;
        margin-bottom:10px;
        text-align:center;
        background-color:orange;
        padding:8px 20px;
        border-radius:10px;
    }

    /* -------------register.html--------- */
    .register{
        width:100%;
        height: 100%;
        background-image: url('/static/signup.jpg');
        background-size: cover;
        background-position: center;
        color:black;
    }


    .regi_user{
    text-align:center;
    margin-bottom: 50px;

    }

    .register h1{
        text-align:center;
        margin-top: 20px;
        margin-bottom: 15px;
        
    }

    .register.regi_user label{
        color:black;
        font-size: 18px;
    }

    .regi_user input{
        border-radius: 10px;
        padding: 5px 50px;
        text-align: left;
    }

    .regi_user button{
        border-radius:10px;
        padding: 5px 15px;
        color: #fff;
        background-color: cornflowerblue;
        margin-bottom: 10px;
    }

    .login h1{
        text-align:center;
        margin-top: 40px;
        margin-bottom: 15px;
    }

    .a1{
        text-align:center;
        color: white;
    }

    .login{
        width:100%;
        height: 100%;
        background-image: url('/static/login1.jpg');
        background-size: cover;
        background-position: center;
        color:white;
    }

    .login.regi_user label{
        color:white;
        font-size: 18px;
    }

